body{
    margin: 0;
    font-family: cursive;
}

html { 
    background: url(./assets/snake_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 10% 100%;
  }

#navbar{
    padding: 7px;
    display: flex;
    justify-content: space-between;
    height: 5em;
    background: linear-gradient(#5AFF15, #00B712);
    text-align: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.score{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.actual--score{
    display: flex;
    justify-content: center;
}

.highscore{
    margin-left: 200px;
    display: flex;
    justify-content: center;
}

.highscore--img{
    width: 50px;
    height: 50px;
}

.highscore--disp{
    margin-top: 6px;
    margin-left: 10px;
    text-align: center;
    font-family: cursive;
    font-weight: 900;
}

#points{
    margin-top: 6px;
    margin-left: 10px;
    text-align: center;
    font-family: cursive;
    font-weight: 900;
}

.score--img{
    width: 50px;
    height: 50px;
}

.map--btn{
    width: 80px;
    height: 80px;
    background: url('./assets/map1.PNG');
    background-size: 100% 100%;
    border: 1.5px solid black; 
    border-radius: 7px; 
    cursor: pointer;
    appearance: none;
    margin-right: 15px;
}

.map--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#difficulty--btn{
    width: 80px;
    height: 80px;
    background: url('./assets/easy.jpg');
    background-size: 100% 100%;
    border: 1.5px solid black;
    border-radius: 7px;
    cursor: pointer;
    appearance: none;
}

#difficulty--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.leaderboard--btn{
    width: 80px;
    height: 80px;
    background: url('./assets/leaderboard.png');
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    appearance: none;
    margin-right: 15px;
}

.leaderboard--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.settings--btn{
    width: 80px;
    height: 80px;
    background: url('./assets/Settings.png');
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    appearance: none;
}

.settings--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#navbar > h1 > img{
    width: 60px;
    height: 60px;
}


#difficulty--choose{
    z-index: 101;
    display: none;
    border: 9px solid #9ACD32;
    border-radius: 25px;
    background: linear-gradient(#AFF1DA, #F9EA8F);
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    height: 38em;
    text-align: center;
}

#close--difficulty--btn{
    margin: 7px;
    top: 0;
    right: 0;
    position: absolute;
    background: url('./assets/x.png');
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-size: 100% 100%;
}

#easy--diff--btn{
    margin-top: -8px;
    background: url('./assets/easy_full.jpg');
    background-size: 100% 100%;
    width: 350px;
    height: 165px;
    border: 3px solid goldenrod;
    border-radius: 15px;
    cursor: pointer;
    opacity: 50%;
}

#easy--diff--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 100%;
}

#medium--diff--btn{
    margin: 10px;
    background: url('./assets/medium_full.jpg');
    background-size: 100% 100%;
    width: 350px;
    height: 165px;
    border: 3px solid goldenrod;
    border-radius: 15px;
    cursor: pointer;
    opacity: 50%;
}

#medium--diff--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 100%;
}

#hard--diff--btn{
    background: url('./assets/hard_full.jpg');
    background-size: 100% 100%;
    width: 350px;
    height: 165px;
    border: 3px solid goldenrod;
    border-radius: 15px;
    cursor: pointer;
    opacity: 50%;
}

#hard--diff--btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 100%;
}

#popup--background{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}


@media screen and (min-height: 600px){
    #canv{
        border: 5px solid black;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30em;
        height: 30em;
    }
}

@media screen and (max-height: 660px){
    #canv{
        border: 5px solid black;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-height: 600px){
    #canv{
        border: 5px solid black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10em;
        height: 10em;
    }
}

@media screen and (max-height: 360px){
    #canv{
        display: none;
    }
}